.combobox {
    background-color: white;
    border: #d0d0d0 1px solid;
    font-size: 14px;
    padding-left: 14px;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 32px;
}

/*Detail Store*/

.combobox-model {
    display: flex;
    width: 100%;
    height: 33px;
    align-items: center;
}

.input-custom-cbb {
    height: 100%;
    width: 100%;
    padding: 0px 0px 0px 8px;
    border: 1px solid #bbbbbb;
}

.input-custom-cbb:focus {
    outline: none;
    border: 1px solid #3366ff;
}

.btn-cbb {
    position: absolute;
    height: 33px;
    width: 30px;
    margin-left: 131px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.flex-item .item {
    padding: 5px 5px 5px 8px;
}

.flex-item .item:hover {
    background-color: #663399;
    cursor: pointer;
    color: white;
}

.flex-item {
    position: absolute;
    z-index: 1000;
    background-color: white;
    border: 1px solid #bbbbbb;
    display: none;
    width: 27.9%;
}