.hover-pointer {
    cursor: pointer;
}

.none-decoation {
    text-decoration: none;
}

.mgr-5 {
    margin-right: 5px;
}

.isActive {
    display: block;
}

.mgr-8 {
    margin-right: 8px;
}

.isActiveCbb {
    display: block;
}

.isSelectrow {
    background-color: #e5e6eb !important;
}