.hover-pointer {
    cursor: pointer;
}

.none-decoation {
    text-decoration: none;
}

.mgr-5 {
    margin-right: 5px;
}

.isActive {
    display: block !important;
}

.mgr-8 {
    margin-right: 8px;
}

.isActiveCbb {
    display: block !important;
}

.isSelectrow {
    background-color: #e5e6eb !important;
}

.isShowError{
    display: block !important;
}

.pdl-10{
    padding-left: 30px !important;
    width: 75px !important;
}

.flex-item .item {
    padding: 5px 5px 5px 8px;
}

.flex-item .item:hover {
    background-color: #666699;
    cursor: pointer;
    color: white;
}

.flex-item {
    position: absolute;
    z-index: 1000;
    background-color: white;
    border: 1px solid #bbbbbb;
    display: none;
    width: 27.9%;
}