.logo-icon{
    background-image: url('../../assets/icon/Logo_Full_White.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 52px;
}
/*menu*/
.icon{
    background-image: url('../../assets/icon/slibarmenu.png');
    background-repeat: no-repeat;
    height: 36px;
    width: 40px;
    align-self: center;
}
/*position menu icon*/
.icon-speed{
    background-position: 0 6px;
}

.icon-report{
    background-position: 0 -273px;
}

.icon-deliveryledger{
    background: url('../../assets/icon/ic_sogiaohang.png') no-repeat 4px 9px !important;
}

.icon-purchares{
    background-position: 0 -33px;
}

.icon-promotion{
    background-position: 0 -193px;
}

.icon-managerment{
    background-position: 0 -233px;
}

.icon-product{
    background-position: 0 -350px;
}

/*header*/
.icon-down{
    background-image: url('../../assets/icon/arrow-down-line.png');
    background-repeat: no-repeat;
    background-size: 9px 5px;
    width: 20px;
    height: 20px;
    background-position: center;
}

.icon-misa-support{
    background: #2b3173 url('../../assets/icon/misasupport_1.png');
    height: 55px;
    width: 54px;
    background-repeat: no-repeat;
    background-position: 4px -2px ;
    background-size: 50px 54px;
}

.icon-notify{
    background-image: url('../../assets/icon/notify-18.png');
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
.icon-help{
    background-image: url('../../assets/icon/icon_help_18.png');
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
/*view store*/
.icon-header{
    background-image: url('../../assets/icon/common-icon.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    padding: 10px 0px;
}

.icon-add{
    background-position:  -1px -117px;
}

.icon-replic{
    background-position: -976px -116px;
}

.icon-edit{
    background-position: -1452px -117px;
}

.icon-delete{
    background-position: -1077px -117px;
}

.icon-load{
    background-position: -876px -117px;
}

/*toolbar*/
.icon-toolbar{
    width: 24px;
    height: 24px;
    background-color: #fff;
    border: 1px solid #6b6f9d;
    border-radius: 3px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../../assets/icon/common-icon.png');
}

.icon-page-first{
    background-position: -649px -124px;
}

.icon-preview{
    background-position: -700px -124px;
}

.icon-next{
    background-position: -749px -124px;
}

.icon-last{
    background-position: -798px -124px;
}
.icon-refresh{
    background-position: -849px -124px;
}

/*modal*/

.icon-modal{
    background-image: url('../../assets/icon/common-icon.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.icon-close{
    background-position: -1127px -127px;
}

.icon-error{
    background-image: url('../../assets/icon/exclamation.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.icon-footer-help{
    background: url('../../assets/icon/help.png') no-repeat;
    width: 16px;
    height: 16px;
}

.icon-footer-save{
    background: url('../../assets/icon/common-icon.png') no-repeat -327px -127px;
    width: 16px;
    height: 16px;
}

.icon-footer-add{
    background: url('../../assets/icon/common-icon.png') no-repeat -26px -127px;
    width: 16px;
    height: 16px;
}

.icon-footer-cancel{
    background: url('../../assets/icon/common-icon.png') no-repeat -252px -127px;
    width: 16px;
    height: 16px;
}
/*loading*/
.icon-loading{
    padding: 25px 0px 0px;
    background-image: url('../../assets/icon/loading.gif');
    background-repeat: no-repeat;
    background-position: center 0px;
}