.input-filter{
    border: 1px solid #e1e1e1;
    padding: 0px;
    padding-left: 8px;
}
.input-filter:focus{
    outline: none;
    border: 1px solid #3366ff;
}

.input-code{
    width: 125px;
}

.input-name{
    width: 214px;
}

.input-address{
    width: 939px;
}

.input-phone{
    width: 91px;
}
/*toolbar*/
.input-toolbar{
    padding: 0px 6px;
    text-align: center;
    background-color: #fff;
    height: 20px;
    width: 48px;
    border: 1px solid #bbbbbb;
}

.validate-input{
    width: 100% !important;
    padding: 5px 10px;
    border: 1px solid #bbbbbb;
    height: 23px;
    font: 400 13px Roboto!important;
}
.validate-textarea{
    width: 100% !important;
    padding: 5px 10px;
    border: 1px solid #bbbbbb;
    height: 70px;
    font: 400 13px Roboto!important;
}
.validate-input:focus{
    outline: none;
    border: 1px solid #3366ff !important;
}
.validate-textarea:focus{
    outline: none;
    border: 1px solid #3366ff !important;
}
.validate-input-sort{
    width: 100%;
    border: 1px solid #bbbbbb;
    padding-left: 8px;
    height: 100%;
}
.validate-input-sort:focus{
    outline: none;
    border: 1px solid #3366ff;
}