.select-head-gird{
    border: 1px solid #e1e1e1;
    padding: 0px;
    width: 105px;
}

.select-head-gird:focus{
    outline: none;
    border: 1px solid #3366ff;
}

/*toolbar*/
.select-toolbar{
    border: 1px solid #bbbbbb;
}
.select-toolbar:focus{
    outline: none;
}

/*modal*/
.model-select{
    width: 162px;
    border: 1px solid #bbbbbb;
    padding-left: 8px;
}
.model-select:focus{
    outline: none;
    border: 1px solid #3366ff;
}