@import './layout/content.css';
@import './layout/header.css';
@import './layout/navbar.css';
@import './basic/icon.css';
@import './basic/combobox.css';
@import './basic/input.css';
@import './basic/button.css';
@import './basic/table.css'; 
@import './basic/common.css';
@import './basic/select.css';
body {
    font-family: roboto,Tahoma,sans-serif!important;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}
