@import './layout/content.css';
@import './layout/header.css';
@import './layout/navbar.css';
@import './basic/icon.css';
@import './basic/combobox.css';
@import './basic/input.css';
@import './basic/button.css';
@import './basic/table.css'; 
@import './basic/common.css';
@import './basic/select.css';
body {
    font-family: roboto,Tahoma,sans-serif!important;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

@font-face {
    font-family: 'MISA-Regular';
    src: url('../assets/font/GoogleSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'MISA-Bold';
    src: url('../assets/font/GoogleSans-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'MISA-Italic';
    src: url('../assets/font/GoogleSans-Italic.otf') format('opentype');
}