.navbar {
    position: relative;
    float: left;
    width: 150px;
    height: 100vh;
    border-right: 1px solid #bbbbbb;
    background-color: #2b3173;
}

/*logo*/
.navbar .logo-site{
    padding: 0px;
    margin: 0px;
    height: 60px;
    background-color: #1e235a;
}

.navbar .logo-box {
    width: 100%;
    left: 18px;
    cursor: pointer;
}

/*menu*/
.menu {
    width: 100%;
    border-bottom: 1px solid #1e235a;
}
.menu-last {
    width: 100%;
}

.item-name {
    width: 150px;
}

.nav-item{
    display: flex;
    padding-left: 13px;
    height: 44px;
    cursor: pointer;
    line-height: 44px;
    color: #aaacc7;
}

.nav-item:hover{
    background-color: #1e235a;
}



